a {
    color: black;
}

.container{
    margin-left: 50px;
    margin-right: 50px;
}

h2.logo{
    margin-left: 35px;
    margin-top: 40px;
    text-decoration:none;
    font-size: 25pt;
    display: inline-block;
    
}

h2.logo>a{
    text-decoration:none;
   
}
.menu{
    display: inline-block;
    float: right;
    
    
}

.menu-item{
    display: inline-block;
    text-align: right;
    font-size: 15pt;
    margin:10px;
    margin-top: 30px;
    font-weight: 600;
}

.menu-item>a{
  text-decoration: none;
}

.menu-item>a:hover{
  background-color: beige;
}


header{
    background-color: #4b8f42;
    height: 110px; 
    width: 100%;
    position: fixed;
    top: 0%;
    
}

nav{
    display: inline-block;
    width: 98%
    
}

header ul{
    list-style-type: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.texto{
  padding: 0px 200px;
  FONT-SIZE: 15pt;
}

img.imagen1{
    width: calc(100% - 10px) ; 
    height: 500px; 
    border-style: solid;
    border-top-width: 7px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    margin-top: 110px;
}

.textoInicio{
  FONT-SIZE: 15pt; 
  margin: 40px 0px;
  display: flex;
}

.textoInicio>ul{
  flex: 1;
}

body{
    cursor:default;
    margin: 0;
}

.footer{
    background-color: #4b8f42;
    width: 100%;
    height: 150px;
    position: relative;
    margin-top: 80px;
    
}

.footer p{
    position: absolute;
    top: 40%;
    left: 47%;
    
    
}


body{
    background-color: beige;
}

.imagenCuadro{

    width: 350px; 
    height: 300px;
    margin-top: -30px; 
}

.imagenArbol{

    width: 450px; 
    height: 250px;

}

.animal1{
    border-style: solid;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    background-color: #ffffff;
    border-radius: 15px;
    display: inline-block;
    width: 380px;
    height: 575px;
}

.animal1:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.botonAnimal{
    
    background-color: #eee;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

.botonAnimal:hover{
    background: #3d9f30;
}


.textoAnimal img{
    width: 450px; 
    height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.textoAnimal>p{
  FONT-SIZE: 15pt;
}

.osoPolar2{
    width: 450px; 
    height: 250px;
   
    
}

.osoPolar3{
    width: 450px; 
    height: 250px;
    margin-bottom: 40px;
   
    
}

body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: beige; 
    
  }
  
  
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px;
    margin-top: 200px; 
  }

  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #3d9f30; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #3d9f30; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
    
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  .botonFormulario{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #3d9f30; 
    border-color: #3d9f30; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #3d9f30; 
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #000000;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
